# Enable rewriting
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Special rule for API access
    RewriteRule ^api/(.*)$ api/$1 [L]
    
    # If the URI doesn't point to a file or directory in /public, 
    # redirect to the equivalent path in /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !^/api/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>

# Set security options
Options FollowSymLinks

# Prevent directory listing
Options -Indexes 